apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "common.fullname" . }}-config
  namespace: {{ include "common.namespace" . }}
  labels:
    app: {{ include "common.name" . }}
    release: {{ .Release.Name }}
data:
  prometheus.yml: |
    global:
      scrape_interval: {{ .Values.prometheus.scrapeInterval }}
      evaluation_interval: {{ .Values.prometheus.evaluationInterval }}
    
    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:{{ include "common.prometheusPort" . }}']
      
      {{- if .Values.probe.blackbox.enabled }}
      - job_name: 'blackbox'
        metrics_path: /probe
        params:
          module: [{{ .Values.probe.blackbox.module }}]
        static_configs:
          - targets:
            {{- range .Values.probe.blackbox.targets }}
            - {{ . }}
            {{- end }}
        relabel_configs:
          - source_labels: [__address__]
            target_label: __param_target
          - source_labels: [__param_target]
            target_label: instance
          - target_label: __address__
            replacement: {{ .Release.Name }}-prometheus-blackbox-exporter:9115
      {{- end }}