{{- if .Values.grafana.enabled }}
{{- if .Values.mimir.enabled }}
---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: {{ include "common.fullname" . }}-mimir-datasource
  namespace: {{ include "common.namespace" . }}
  labels:
    app: {{ include "common.name" . }}
    release: {{ .Release.Name }}
    component: grafana
spec:
  instanceSelector:
    matchLabels:
      app: {{ include "common.name" . }}
      component: grafana

  datasource:
    name: Mimir
    uid: mimir-ds
    type: prometheus
    access: proxy
    url: http://{{ .Release.Name }}-mimir-query-frontend.{{ include "common.namespace" . }}.svc.cluster.local:8080/prometheus
    isDefault: true
    jsonData:
      timeInterval: {{ .Values.prometheus.scrapeInterval }}
      httpMethod: POST
      prometheusType: Mimir
      prometheusVersion: 2.0.0
      httpHeaderName1: X-Scope-OrgID
    secureJsonData:
      httpHeaderValue1: "1"
    editable: true
{{- else }}
---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: {{ include "common.fullname" . }}-prometheus-datasource
  namespace: {{ include "common.namespace" . }}
  labels:
    app: {{ include "common.name" . }}
    release: {{ .Release.Name }}
    component: grafana
spec:
  instanceSelector:
    matchLabels:
      app: {{ include "common.name" . }}
      component: grafana

  datasource:
    name: Prometheus
    uid: prometheus-ds
    type: prometheus
    access: proxy
    url: http://{{ include "common.fullname" . }}-prometheus.{{ include "common.namespace" . }}.svc.cluster.local:{{ .Values.prometheus.port }}
    isDefault: true
    jsonData:
      timeInterval: {{ .Values.prometheus.scrapeInterval }}
      httpMethod: POST
    editable: true
{{- end }}
{{- end }}
