apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: {{ include "common.name" . }}
  namespace: {{ include "common.namespace" . }}
  labels:
    app: {{ include "common.name" . }}
    release: {{ .Release.Name }}
spec:
  replicas: 1
  retention: {{ .Values.config.prometheus.retention }}
  serviceAccountName: {{ include "common.fullname" . }}
  
  serviceMonitorSelector:
    matchLabels:
      release: {{ .Release.Name }}
  
  {{- if .Values.probe.blackbox.enabled }}
  probeSelector:
    matchLabels:
      release: {{ .Release.Name }}
  {{- end }}
  
  resources:
    requests:
      memory: 400Mi
  
  configMaps:
    - {{ include "common.fullname" . }}-config
  
  portName: {{ include "common.prometheusPort" . }}